
body{
    background-color: #E3E6E6;
}

.container{
    margin: 0 1.2rem;
    background-color: aliceblue;
}

.hero-section{
    /* background-image: url(../resources/images/hero_image_2.jpg); */
    height: 40rem;
    
   
  
    

    background: linear-gradient(to bottom, 
    
    rgba(255, 255, 255, 0) 50%, 
    #E3E6E6 100%),
    url(../resources/images/hero_image_2.jpg); ;
    background-size: contain;
    background-repeat: no-repeat;
   

    position: absolute;
    top: 5.75rem;
    left: 0;
    width: 100%;
    z-index: -1;
}

.redirect-msg a{
    color: #007085;
}

.redirect-msg{
    

    background-color: #f5f6f6;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;

   
}

/* shop section */


.main{
    margin: 0 1.2rem ;
   margin-top: 16rem;
   
}

.shop-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 1.2rem;



    
}

.box{
    border: 2px solid black;
    height: 24rem;
    padding: 1.25rem 0rem 1rem 0rem;
    /* margin-right: 1.2rem; */

    background-color: #ffffff;


    width:23.77% ;
}

.box4{
    margin-right: 0;
}