*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;     /* the border-size given to the element is counted with the height-width of that element not a separate border area like usual */
}

html, body{
    height: 100%;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100vw;
    
}

.nav-items{
    height: 50px;

}

.border-class{
    border: 1.5px solid transparent;
}
.border-class:hover{
    border: 1.5px solid white;
}


.navbar-parts{
    display: flex;
}


.nav-logo-div{
    width: 100px;
    padding: 0rem 0.5rem 0rem 0.4rem  ;
}

.brand-logo{
    height: inherit;
    
    background-image: url(../resources/images/amazon_logo.png);
    background-size: cover;


}

.nav-address{
    display: flex;
    align-items: center;
}

.nav-address .nav-add-first{
    position: relative;
    top: 0.4rem;
    align-self: center;
    margin: 0px 5px
}

.nav-add-second .add-deliver-txt{
    color: #ccc;
    font-size: 12px;
}
.nav-add-second .add-country{
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
}




.nav-search{
    display: flex;
    justify-content: space-between;

    background-color: pink;
    
   width: 40rem;
   height: 2.5rem;
   border-radius: 0.25rem;

    
}

.nav-search-departments{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border: none;
}

.nav-search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
    padding-left: 0.5rem;
}



.search-go{
    /* padding: 4px; */
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;

    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.nav-search-searchIcon{
    background-image: url(../resources/svg/magnifying-glass-solid.svg);
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    
    height: 100%;
    width: 50%;
    font-size: 0;

    border: none;

    background-color: transparent;
    cursor: pointer;
}