*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;     /* the border-size given to the element is counted with the height-width of that element not a separate border area like usual */
}

html, body{
    height: 100%;
    width: 100%;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    
}

.nav-items{
    height: 50px;

}

.border-class{
    border: 1.5px solid transparent;
}
.border-class:hover{
    border: 1.5px solid white;
}


.navbar-parts{
    display: flex;
}


.nav-logo-div{
    width: 100px;
    padding: 0rem 0.5rem 0rem 0.4rem  ;
    margin-left: 0.5rem;

}

.brand-logo{
    height: inherit;
    
    background-image: url(../resources/images/amazon_logo.png);
    background-size: cover;

    


}

.nav-address{
    display: flex;
    align-items: center;
}

.nav-address .nav-add-first{
    position: relative;
    top: 0.4rem;
    align-self: center;
    margin: 0px 5px
}

.nav-add-second .add-deliver-txt{
    color: #ccc;
    font-size: 12px;
}
.nav-add-second .add-country{
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
}

.navbar-middle-fill{
    width: 60vw;
    display: flex;
    justify-content: center;
}


.nav-search{
    display: flex;
    justify-content: space-between;

    background-color: pink;
    
   width: 95%;
   height: 2.5rem;
   border-radius: 0.25rem;

    
}

/* .nav-search:focus{
    border: 2px solid orange;
} */

.nav-search-departments{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border: none;
}

.nav-search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
    padding-left: 0.5rem;
}



.search-go{
    /* padding: 4px; */
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;

    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.nav-search-searchIcon{
    background-image: url(../resources/svg/magnifying-glass-solid.svg);
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    
    height: 100%;
    width: 50%;
    font-size: 0;

    border: none;

    background-color: transparent;
    cursor: pointer;
}

.nav-right{
    display: flex;

    /* justify-content: space-around; */
}

.nav-right .nav-elements{
    align-content: center;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
   
}

/* .nav-right-elements{

} */

.nav-upper-pos-text{
 font-size: 0.75rem;   
}

.nav-lower-pos-text{
    font-size: 0.875rem ;
    font-weight: 700;
    
}


.nav-elements{
    cursor: pointer;
    text-wrap: nowrap;
    
    
    /* padding: 0.3rem 0rem; */
}

.nav-right .nav-elements{
    padding: 0.5rem 1rem;
   
}

/* LANGUAGE */
.nav-language{
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.2rem;
}
.nav-language img{
    height: 1rem;
    width: 1.4rem;
    
    margin: 0rem 0.3rem;
}

/* cart */

.nav-cart{
    margin-right: 0.5rem;
    display: flex;
}


.nav-cart i{
    font-size: 2rem;
}
.nav-cart p{
   align-self: flex-end;
}